
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --cus-orange: #ff9933;
    --cus-black: #000;
    --cus-dark: #212121;
    --cus-white: #fff;
    --cus-gray: #808080;
    --cus-light: #ddd;
    --cus-purple: purple;
    --cus-red: darkred;
    --cus-shadow: rgba(0, 0, 0, 0.2);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: 'Roboto', sans-serif;
}


.header{
    background: var(--cus-white);
}
.navbar {
    position: sticky;
    top: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid var(--cus-light);
    z-index: 1;
}

.navbar h1 {
    color: var(--cus-orange);
    font-size: 24px;
    font-weight: bold;
}

.navbar i {
    margin-left: 40px;
    color: var(--cus-dark);
}


.container {
    display: flex;
    height: calc(100vh - 60px);
    background: var(--cus-light);
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.sidebar {
    width: 18%;
    background: var(--cus-dark);
    color: var(--cus-white);
    padding-top: 20px;
    overflow: hidden;
    position: fixed;
    height: 100vh;
}

.sidebar ul {
    list-style: none;
    margin-bottom: 30px;
}

.sidebar li {
    padding: 14px 20px;
}

.sidebar i {
    margin-right: 10px;
}

.content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

.registration h2 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}

.card {
    background: var(--cus-white);
    border-radius: 6px;
    box-shadow: 4px 8px 10px 12px var(--cus-shadow);
    padding: 20px;
}

.contact-form {
    margin: auto;
}

.contact-form label {
    display: block;
    margin: 15px 0 5px;
    font-weight: 500;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 10px;
}

.form-gp {
    display: flex;
    gap: 20px;
    margin-top: 5px;
}

.form-gp label {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: normal;
}

textarea {
    resize: none;
}

.btn-group {
    margin-top: 20px;
}

.contact-form button {
    padding: 10px 25px;
    border: none;
    background: var(--cus-orange);
    color: var(--cus-white);
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
}

.contact-form button.reset {
    background: var(--cus-red);
}

.contact-form button:hover {
    opacity: 0.85;
}

footer {
    height: 100px;
    background: var(--cus-light);
    border-top: 1px solid var(--cus-gray);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
    

footer a {
    color: var(--cus-purple);
    margin-left: 10px;
    text-decoration: none;
}
